<h1>About <%= t('perfreport.perfreports') %></h1>
<p>
  Developer: Brad Herring <<%= mail_to 'bradley.herring@cgifederal.com' %>>
  <br />
  <br />
  UI elements built using <%= link_to 'Bootstrap', 'http://getbootstrap.com/' %><br />
  Icons from: <%= link_to 'Glyphicons', 'http://glyphicons.com/' %><br />
</p>

