<%= form_for(@graph_type) do |f| %>
  <% if @graph_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph_type.errors.count, "error") %> prohibited this graph_type from being saved:</h2>

      <ul>
      <% @graph_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :display_order %><br />
    <%= f.number_field :display_order %> (<%= t('graph_types.tips.display_order') %>)
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
