<tr id="graph_type_<%= graph_type.id %>">
  <td><%= link_to graph_type.name, graph_type %></td>
  <td><%= graph_type.display_order %></td>
  <td><%= graph_type.user.nil? ? t('general.system') : graph_type.user.name %></td>
  <td>
    <% if can? :edit, GraphType %>
        <%= link_to t('general.edit'), edit_graph_type_path(graph_type) %>
    <% end %>
    <% if can? :destroy, GraphType %>
        <%= link_to t('general.delete'), graph_type, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>