<div class="table">
  <table class='data_table' id="graph_type_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('graph_types.display_order') %></th>
      <th><%= t('general.created_by') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% graph_types.each do |graph_type| %>
        <%= render graph_type %>
    <% end %>
    </tbody>
  </table>
</div>