<h1><%= t('general.listing') % t('graph_types.graph_types') %>
  <% if can? :create, GraphType %>
    <span class='actions'>
      <%= link_to t('general.new'), new_graph_type_path, :id => 'new_graph_type_link' %>
    </span>
  <% end %>
</h1>

<%= render 'graph_types/graph_types', :graph_types => @graph_types %>
