<h1><%= @graph_type.name %> </h1>

<p>
  <b><%= t('general.owner') %>:</b>
  <%= @graph_type.user.name %> <br />

  <b><%= t('graph_types.display_order') %>:</b>
  <%= @graph_type.display_order %>
</p>
<br />
<br />
<%= edit_html(edit_graph_type_path(@graph_type), GraphType) %>
<%= link_to t('general.back'), reports_path %>
