<li><%= link_to t('admin.manage_users'), admin_users_path %></li>
<li><%= link_to t('graph_sources.graph_sources'), admin_graph_sources_path %></li>
<li class="divider"></li>
<li><%= link_to t('jobs.background_processes'), sidekiq_web_path %></li>