<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('application.name'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown" id="help_dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= t('menu.help') %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= render 'menus/help' %>
          </ul>
        </li>
        <% if current_user.has_role?(:report_admin) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('menu.manage') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('reports.reports'), reports_path unless current_page?(reports_path) && current_page?(root_path) %></li>
            <li><%= link_to t('servers.servers'), servers_path unless current_page?(servers_path) %></li>
            <li><%= link_to t('graphs.graphs'), graphs_path unless current_page?(graphs_path) %></li>
            <li class="divider"></li>
            <li><%= link_to t('server_groups.server_groups'), server_groups_path unless current_page?(server_groups_path) %></li>
            <li><%= link_to t('graphs_commands.graph_commands'), graph_commands_path unless current_page?(graph_commands_path) %></li>
            <li><%= link_to t('graph_types.graph_types'), graph_types_path unless current_page?(graph_types_path) %></li>
          </ul>
        </li>
        <% end %>
        <% if current_user.has_role?(:admin) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('menu.admin') %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%= render 'menus/admin' %>
              </ul>
            </li>
        <% end %>
        <li class="divider-vertical"></li>
        <%= render 'menus/my_account', :app_config => APP_CONFIG, :user => current_user, :my_account_path => account_path, :gravatar_url => current_user.user_profile.gravatar_url(:size => 20) %>
        <% else %>
          <% if User.omniauth_providers && User.omniauth_providers.include?(:auth_man) %>
            <li><%= link_to(t('users.login'), user_omniauth_authorize_path(:auth_man)) %></li>
          <% else %>
            <li><%= link_to(t('users.login'), new_user_session_path) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>