<%= form_for ([:report_file, @report_file_email]) do |f| %>
    <% if @report_file_email.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@report_file_email.errors.count, t('general.error')) %> prohibited this report from being saved:</h2>

          <ul>
            <% @report_file_email.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email_addresses %><br />
      <%= f.text_area :email_addresses %>
    </div>
    <% if @report_file_email.report_file.report.has_mailing_list?  %>
    <div class="field" title="Mailing List: <%= @report_file_email.report_file.report.mailing_list.nil? ? '' : @report_file_email.report_file.report.mailing_list.join(', ') %>">
      <%= f.label :mailing_list_send, t('report_file_emails.send_report_mailing_list') %><br />
      <%= f.check_box :mailing_list_send %>
    </div>
    <% end %>
    <div class="actions">
      <%= f.submit t('report_file_emails.send_report') %>
    </div>
<% end %>
