<h1><%= t('devise.resource.renew_your_password') %></h1>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :password_expired], :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :current_password, t('devise.resource.current_password') %><br />
      <%= f.password_field :current_password %>
    </div>

    <div class="field">
      <%= f.label :password, t('devise.passwords.new_password') %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, t('devise.passwords.confirm_password') %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit t('devise.passwords.change_password') %>
    </div>
<% end %>