<h1>Listing applications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>App type</th>
    <th>Major application</th>
    <th>Ignore active</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%= application.name %></td>
    <td><%= application.app_type %></td>
    <td><%= application.major_application %></td>
    <td><%= application.ignore_active %></td>
    <td><%= application.active %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Application', new_application_path %>
