<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>App type:</b>
  <%= @application.app_type %>
</p>

<p>
  <b>Major application:</b>
  <%= @application.major_application %>
</p>

<p>
  <b>Ignore active:</b>
  <%= @application.ignore_active %>
</p>

<p>
  <b>Active:</b>
  <%= @application.active %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
