<tr id="graph_<%= graph.id %>">
  <td><%= link_to graph.name, graph %></td>
  <% if can? :read, Graph %>
      <td><%= graph.file_path %></td>
  <% end %>
  <td>
    <% if can? :destroy, Graph %>
        <%= link_to t('general.delete'), graph, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>