<div>
  <table class='data_table' id="server_groups_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <% if can? :read, Graph %>
        <th><%= t('graphs.file_path') %></th>
      <% end %>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% graphs.each do |graph| %>
        <%= render graph %>
    <% end %>
    </tbody>
  </table>
</div>