<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('graphs.graphs') %>
  </div>
  <div class="panel-body">
    <%= render 'graphs/graphs', :graphs => @graphs %>
  </div>
</div>
