<%= form_for(@graph_source, :url => resource_path) do |f| %>
  <% if @graph_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph_source.errors.count, 'error') %> prohibited this graph_source from being saved:</h2>

      <ul>
      <% @graph_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :graph_source_module %><br />
    <%= f.select :graph_source_module, GRAPH_SOURCE_MODULES.map { |h| [ h[:display_name], h[:name] ]} %>
  </div>

  <div class="field">
    <%= f.label :graph_source_module_parameters %><br />
    <%= f.text_area :graph_source_module_parameters, :value => parse_graph_source_module_parameters(@graph_source) %>
  </div>

  <div class="field">
    <%= f.label :default %><br />
    <%= f.check_box :default %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
