<div>
  <table class='data_table' id="server_groups_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('graph_sources.graph_source_module') %></th>
      <th><%= t('graph_sources.is_default') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% graph_sources.each do |graph_source| %>
        <%= render graph_source %>
    <% end %>
    </tbody>
  </table>
</div>