<tr id="graph_source_<%= graph_source.id %>">
  <td><%= link_to graph_source.name, admin_graph_source_path(graph_source) %></td>
  <td><%= graph_source_module_display_name graph_source.graph_source_module if graph_source.graph_source_module %></td>
  <td><%= graph_source.default %></td>
  <td>
    <% if can? :edit, GraphSource %>
        <%= link_to t('general.edit'), edit_admin_graph_source_path(graph_source) %>
    <% end %>
    <% if can? :destroy, GraphSource %>
        <%= link_to t('general.delete'), admin_graph_source_path(graph_source), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>