<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('graph_sources.graph_sources') %>
  </div>
  <div class="panel-body">
    <%= render 'admin/graph_sources/graph_sources', :graph_sources => @graph_sources %>
  </div>
</div>

<% if can? :create, GraphSource %>
    <span class='actions'>
      <%= link_to t('general.new'), new_admin_graph_source_path, :id => 'new_graph_source_link' %>
    </span>
<% end %>