<h1><%= @graph_source.name %> </h1>

<div>
  <b><%= t('graph_sources.graph_source_module') %>:</b>
  <%= graph_source_module_display_name @graph_source.graph_source_module %><br />

  <b><%= t('graph_sources.graph_source_module_parameters') %>:</b>
  <ul>
  <% @graph_source.graph_source_module_parameters.each do |key,value| %>
    <li><%= "#{key}: #{value}" %></li>
  <% end %>
  </ul>

  <b><%= t('graph_sources.is_default') %>:</b>
  <%= @graph_source.default %><br />

  <b><%= t('general.owner') %>:</b>
  <%= @graph_source.user.name %>
</div>
<br />
<br />
<%= edit_html(edit_admin_graph_source_path(@graph_source), GraphSource) %>
<%= link_to t('general.back'), reports_path %>
