$(document).ready(function(){
    <% if show_application_information %>
        setup_application_information("<%= api_url %>");
    <% end %>
});

function setup_application_information(api_url) {
    application_information_table_page();

    $.ajax({
        url: api_url,

        // the name of the callback parameter, as specified by the YQL service
        jsonp: "callback",

        // tell jQuery we're expecting JSONP
        dataType: "jsonp",

        // work with the response
        success: function (response) {
            add_application_information(response);
        }
    });
}

function add_application_information(application_information) {
    console.log(application_information);
    for (i = 0; i < application_information.applications.length; i++) {
        update_application_information_table(application_information.applications[i]);
    }
}

function update_application_information_table(application_information) {
    var data = [
        "<a href='<%= application_information_url %>" + application_information.path + "'>" + application_information.name + "</a>",
        application_information.version == null ? "<%= t('general.na') %>" : application_information.version ,
    ];
    $("#application_information_table").dataTable().fnAddData(data);
}

function application_information_table_page()
{
    console.log("Refreshing table");
    $('#application_information_table').dataTable(
            {
                "sScrollY": "400px",
                "bPaginate": true,
                "bDestroy": true,
                "iDisplayLength": 15,
                "aLengthMenu": [[15, 25, 50, 100, 200, -1], [15, 25, 50, 100, 200, "All"]]
            }).fnSort( [ [1,'desc'] ] );
}
