<div class="table">
  <table class='data_table' id="application_information_table">
    <thead>
    <tr>
      <th><%= t('application_information.application') %></th>
      <th><%= t('application_information.version') %></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>