<div>
  <table class='data_table' id="servers_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% servers.each do |server| %>
        <%= render server %>
    <% end %>
    </tbody>
  </table>
</div>