<tr id="server_<%= server.id %>">
  <td><%= link_to server.name, server %></td>
  <td>
    <% if can? :destroy, Server %>
        <%= link_to t('general.delete'), server, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>