<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('servers.servers') %>
  </div>
  <div class="panel-body">
    <%= render 'servers/servers', :servers => @servers %>
  </div>
</div>
