<h1><%= @server.name %></h1>

<h3><%= t('reports.reports') %>:</h3>
<%= render 'reports/reports', :reports => @server.reports %>
<br />
<h3><%= t('graphs.graphs') %>:</h3>
<%= render 'graphs/graphs', :graphs => @server.graphs %>

<% if show_application_information? %>
    <div id="application_information">
      <h3><%= t('application_information.application_information') %>:</h3>
      <%= render 'servers/application_information' %>
      <script type="text/javascript">
        <%= render 'servers/application_information.js.erb', :show_application_information  => show_application_information?, :api_url => application_information_api_url(@server) %>
      </script>
    </div>
<% end %>

<%= link_to t('general.back'), reports_path %>
