<div>
  <h3><%= user.name %> <%= "<img class='profile_image_popover' src='#{avatar_url(user, 40)}'></img>".html_safe if show_avatar %></h3>
  <p>
    <b><%= t('user.email') %>:</b>
    <%= user.email %>
  </p>
</div>