<div>
  <h3><%= user.name %></h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8"><b><%= t('user.email') %>:</b>
        <%= user.email %>
      </div>
      <% if show_avatar %>
        <div class="col-md-4"><%= "<img class='profile_image' src='#{avatar_url(user, 32)}'></img>".html_safe %></div>
      <% end %>
    </div>
  </div>
</div>