<%= form_for(@graph_command) do |f| %>
  <% if @graph_command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph_command.errors.count, "error") %> prohibited this graph_command from being saved:</h2>

      <ul>
      <% @graph_command.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :command %><br />
    <%= f.text_field :command %>
  </div>
  <div class="field">
    <%= f.label :graph_source %><br />
    <%= f.select :graph_source_id, options_from_collection_for_select(GraphSource.all, :id, :name, @graph_command.graph_source_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
