<div>
  <table class='data_table' id="server_groups_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('graph_commands.command') %></th>
      <th><%= t('graph_sources.graph_source') %></th>
      <th><%= t('general.created_by') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% graph_commands.each do |graph_command| %>
        <%= render graph_command %>
    <% end %>
    </tbody>
  </table>
</div>