<tr id="graph_command_<%= graph_command.id %>">
  <td><%= link_to graph_command.name, graph_command %></td>
  <td><%= graph_command.command %></td>
  <td><%= graph_command.graph_source.name %></td>
  <td><%= graph_command.user.nil? ? t('general.system') : graph_command.user.name %></td>
  <td>
    <% if can? :edit, GraphCommand %>
        <%= link_to t('general.edit'), edit_graph_command_path(graph_command) %>
    <% end %>
    <% if can? :destroy, GraphCommand %>
        <%= link_to t('general.delete'), graph_command, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>