<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('graphs_commands.graph_commands') %>
  </div>
  <div class="panel-body">
    <%= render 'graph_commands/graph_commands', :graph_commands => @graph_commands %>
  </div>
</div>

<% if can? :create, GraphCommand %>
    <span class='actions'>
      <%= link_to t('general.new'), new_graph_command_path, :id => 'new_graph_command_link' %>
    </span>
<% end %>