<h1><%= @graph_command.name %> </h1>

<p>
  <b><%= t('graph_commands.command') %>:</b>
  <%= @graph_command.command %> <br />

  <b><%= t('graph_sources.graph_source') %>:</b>
  <%= @graph_command.graph_source.name %> <br />

  <b><%= t('general.owner') %>:</b>
  <%= @graph_command.user.nil? ? t('general.system') : @graph_command.user.name %>
</p>
<br />
<br />
<%= edit_html(edit_graph_command_path(@graph_command), GraphCommand) %>
<%= link_to t('general.back'), reports_path %>
