<%= @file_subject %> Below are the details for this report.
<br />
<br />
Report Generation Date: <%= @report_file_email.report_file.file_updated_at.strftime('%Y-%m-%d %H:%M:%S %Z') %><br />
Report URL: <%= link_to @report_file_email.report_file.report.name, report_file_url(@report_file_email.report_file) %> (<%= @file_location_message %>)