<%= @file_subject %> Below are the details for this report.

Report Generation Date: <%= @report_file_email.report_file.file_updated_at.strftime('%Y-%m-%d %H:%M:%S %Z') %>
Report URL: <%= report_file_url(@report_file_email.report_file) %> (<%= @file_location_message %>)