<p>
  Hello <%= @user.name %>,<br />
  You assigned roles have been updated.
</p>

<p>
  <ul style="list-style-type: none;">
      <li>Roles:
        <ul>
          <% @user.roles.each do |role| %>
            <li><%= role.to_s.humanize %>: <%= User::ROLE_DESCRIPTIONS[role] %></li>
          <% end %>
        </ul>
    </li>
  </ul>
</p>