<h1><%= t('general.your_account') %></h1>

<%= render 'account/account', :user => @user, :gravatar_url => avatar_url(@user) %>

<strong><%= t('user.roles') %>:</strong>
<ul class="roles">
  <% @user.roles.each do |r| %>
      <li><%= r %></li>
  <% end %>
</ul>
<br />
<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('reports.reports') %>
  </div>
  <div class="panel-body">
    <%= render :partial => '/reports/reports', :locals => {:reports => @user.reports, :current_user => @user} %>
  </div>
</div>
<br />
<br />
<%= link_to t('general.edit'), edit_user_registration_path %>