<tr id="server_group_<%= server_group.id %>">
  <td><%= link_to server_group.name, server_group %></td>
  <td>
    <% if can? :edit, ServerGroup %>
        <%= link_to t('general.edit'), edit_server_group_path(server_group) %>
    <% end %>
    <% if can? :destroy, ServerGroup %>
        <%= link_to t('general.delete'), server_group, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>