<div>
  <table class='data_table' id="server_groups_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% server_groups.each do |server_group| %>
        <%= render server_group %>
    <% end %>
    </tbody>
  </table>
</div>