<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('server_groups.server_groups') %>
  </div>
  <div class="panel-body">
    <%= render 'server_groups/server_groups', :server_groups => @server_groups %>
  </div>
</div>
<% if can? :create, ServerGroup %>
    <span class='actions'>
      <%= link_to t('general.new'), new_server_group_path, :id => 'new_server_group_link' %>
    </span>
<% end %>