<h1><%= @server_group.name %></h1>

<p>
  <b><%= t('general.owner') %>:</b>
  <%= @server_group.user.name %>
</p>
<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('servers.servers') %>
  </div>
  <div class="panel-body">
    <%= render 'servers/servers', :servers => @server_group.servers.order(:name) %>
  </div>
</div>
<br />
<br />
<br />
<%= edit_html(edit_server_group_path(@server_group), ServerGroup) %>
<%= link_to t('general.back'), reports_path %>