<%= form_for(@server_application) do |f| %>
  <% if @server_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server_application.errors.count, "error") %> prohibited this server_application from being saved:</h2>

      <ul>
      <% @server_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br />
    <%= f.number_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :server_id %><br />
    <%= f.number_field :server_id %>
  </div>
  <div class="field">
    <%= f.label :ignore_active %><br />
    <%= f.check_box :ignore_active %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
