<h1>Listing server_applications</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Application</th>
    <th>Server</th>
    <th>Ignore active</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @server_applications.each do |server_application| %>
  <tr>
    <td><%= server_application.description %></td>
    <td><%= server_application.application_id %></td>
    <td><%= server_application.server_id %></td>
    <td><%= server_application.ignore_active %></td>
    <td><%= server_application.active %></td>
    <td><%= link_to 'Show', server_application %></td>
    <td><%= link_to 'Edit', edit_server_application_path(server_application) %></td>
    <td><%= link_to 'Destroy', server_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server application', new_server_application_path %>
