<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @server_application.description %>
</p>

<p>
  <b>Application:</b>
  <%= @server_application.application_id %>
</p>

<p>
  <b>Server:</b>
  <%= @server_application.server_id %>
</p>

<p>
  <b>Ignore active:</b>
  <%= @server_application.ignore_active %>
</p>

<p>
  <b>Active:</b>
  <%= @server_application.active %>
</p>


<%= link_to 'Edit', edit_server_application_path(@server_application) %> |
<%= link_to 'Back', server_applications_path %>
