
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :fname %><br />
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :lname %><br />
      <%= f.text_field :lname %>
    </div>
    <div class="field">
      <%= f.label :roles %>
      <ul>
        <% User.valid_roles.each do |role| %>
            <% next if User::DEFAULT_ROLES.include?(role) %>
            <li id="role_<%= role %>"><%= role %><%= check_box_tag 'user[roles][]', role, @user.roles.include?(role) %></li>
        <% end %>
      </ul>
    </div>
    <%= f.fields_for :user_profile do |builder| %>
        <%= render 'user_profile_fields', :f => builder %>
    <% end %>