<div class="field" id="user_profile_available_servers">
  <%= f.label :server_groups %><br />
  <%= f.collection_select :server_group_ids, ServerGroup.all, :id, :name, {}, {:multiple => true, include_blank: false} %>
</div>

<div class="field">
  <%= f.label :allow_shared_reports %><br />
  <%= f.check_box :allow_shared_reports %>
</div>