<h1><%= t('general.edit') % @user.email.upcase %></h1>

<%= form_for(@user, :url => admin_user_path) do |f| %>
    <%= render 'form', f: f %>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit t('admin.users.update_user') %>
    </div>
<% end %>
<br />
<br />
<br />
<%= render 'layouts/view_footer' %>
