<h1><%=  @user.full_name %></h1>
<%= render 'account/account', :user => @user, :gravatar_url => current_user.user_profile.gravatar_url(:size => 64) %>
<br />
<br />
<%= link_to t('general.edit'), edit_admin_user_path(@user) %>