<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('admin.administration_pages') %>
  </div>
  <div class="panel-body">
    <table class='table' id="users_table">
      <thead>
      <tr>
        <th><%= t('admin.page') %></th>
        <th><%= t('admin.description') %></th>
      </tr>
      </thead>
      <tbody>
      <% @admin_pages.each do |k, page| %>
          <tr>
            <td><%= link_to page[:title], page[:path] %></td>
            <td><%= page[:description] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to t('general.back'), root_path %>