<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, t('general.error')) %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :report_title %><br />
    <%= f.text_field :report_title %>
  </div>
  <div class="field">
    <%= f.label :schedule_report_run %><br />
    <%= f.check_box :schedule_report_run %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, {:selected => (@report.time_zone ? @report.time_zone : current_user.time_zone) } %>
  </div>
  <div id="report_schedule">
    <div class="field">
      <%= f.label :send_time %><br />
      <%= f.time_select :send_time %>
    </div>
    <div class="field">
      <%= f.label :send_day %><br />
      <%= f.select :send_day, Report::DAYS %>
    </div>
  </div>
  <div class="field">
    <%= f.label :mailing_list %><br />
    <%= f.text_area :mailing_list, :value => (@report.mailing_list ? (@report.mailing_list.kind_of?(Array) ? @report.mailing_list.join("\r\n") : @report.mailing_list) : '') %>
  </div>
  <div class="field">
    <%= f.label :graph_command %><br />
    <%= f.collection_select :graph_command_id, GraphCommand.order(:name).all.collect, :id, :to_s, {:selected => (@report.graph_command ? @report.graph_command.id : nil) } %>
  </div>

  <% if APP_CONFIG['application_info'] && APP_CONFIG['application_info']['enabled'] %>
    <div class="field">
      <%= f.label :applications %>
      <%= f.collection_select :application_ids, Application.order(:name).all.collect, :id, :name, {}, {:multiple => true} %>
    </div>
    <div class="field">
      <%= f.label :application_families %>
      <%= f.collection_select :application_family_ids, ApplicationFamily.order(:name).all.collect, :id, :name, {}, {:multiple => true} %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :server_groups %>
    <% if @user.has_role? :limited_servers  %>
       <%= f.collection_select :server_group_ids, @user.user_profile.server_groups.collect, :id, :name, {}, {:multiple => true} %>
    <% else %>
        <%= f.collection_select :server_group_ids, ServerGroup.order(:name).all.collect, :id, :name, {}, {:multiple => true} %>
    <% end %>
  </div>
  <div class="field server_select">
    <%= f.label :servers %>
    <% if @user.has_role? :limited_servers  %>
        <%= f.collection_select :server_ids, @user.user_profile.all_authorized_servers.collect, :id, :name, {}, {:multiple => true} %>
    <% else %>
        <%= f.collection_select :server_ids, Server.order(:name).all.collect, :id, :name, {}, {:multiple => true} %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :graph_types %>
    <% GraphType.sorted.each do |graph_type| %>
      <%= graph_type.name %><%= check_box_tag 'report[graph_type_ids][]', graph_type.id, @report.graph_types.nil? ? false : @report.graph_types.include?(graph_type) %>
    <% end %>
  </div>
  <% if APP_CONFIG['application_info'] && APP_CONFIG['application_info']['embed_in_reports'] %>
  <div class="field">
    <%= f.label :include_application_information, t('reports.include_application_information') %><br />
    <%= f.check_box :include_application_information %>
  </div>
  <div class="field">
    <%= f.label :show_all_applications, t('reports.show_all_applications.label') %> <br />
    <%= f.check_box :show_all_applications %> (<%= t('reports.show_all_applications.description') %>)
  </div>
  <% end %>
  <div id="additionaloptions" style="padding-top: 25px">
  <h3><%= t('general.additional_options') %>
    <button type="button" class="btn btn-default btn-xs fa fa-angle-down" id="additionaloptions_toggle"></button>
  </h3>

    <div id="additionaloptions_items" hidden="hidden">
      <div class="field">
        <%= f.label :public, t('reports._public_report') %><br />
        <%= f.check_box :public %>
      </div>
      <div class="field">
        <%= f.label :users, t('shared_reports.shared_with') %>
        <%= f.collection_select :user_ids, @users.collect {|u| [ u.full_name_comma, u.id ] }, :last, :first, {}, {:multiple => true} %>
      </div>
      <div class="field">
        <%= f.label :graph_source, t('graph_sources.graph_source') %>
        <%= f.collection_select(:graph_source_id, GraphSource.all.collect {|u| [ u.name, u.id ] }, :last, :first, {:selected => (@report.graph_source.nil? ? default_graph_source: @report.graph_source.id)}) if GraphSource.count > 0 %>
      </div>
      <div class="field">
        <%= f.label :image_type, t('reports.graph_image_type') %>
        <%= f.collection_select(:image_type, Report::IMAGE_TYPES.select { |it| it != :default }, :last, :first, {:selected => (@report.get_image_type)}) %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
