<tr id="report_<%= report.id %>">
  <td><%= link_to report.name, report %></td>
  <td><%= bool_to_word(report.schedule_report_run).capitalize %></td>
  <td><%= report.schedule_report_run ? report.send_time.strftime('%I:%M:%S %p') : t('general.na') %></td>
  <td><%= (report.send_day.nil? || !report.schedule_report_run) ? t('general.na') : report.send_day.capitalize %></td>
  <td><%= report.user.nil? ? t('general.na') : user_public_link(report.user) %></td>
  <td>
    <% if modify_allowed? report %>
        <% if can? :edit, Report %>
            <%= link_to t('general.edit'), edit_report_path(report) %>
        <% end %>
        <% if can? :destroy, Report %>
            <%= link_to t('general.delete'), report, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </td>
</tr>