<div>
  <table class='data_table' id="reports_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('reports.scheduled_for_auto_run') %></th>
      <th><%= t('reports.send_time') %></th>
      <th><%= t('reports.send_day') %></th>
      <th><%= t('general.created_by') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% reports.each do |report| %>
        <%= render :partial => '/reports/report', :locals => {:report => report} if report.can_modify_or_read?(current_user) %>
    <% end %>
    </tbody>
  </table>
</div>