$.ajax({
    url: "<%= generate_api_report_path(@report.id, :email_address =>  @email_address) %>"
    })
    .done  (function(data, textStatus, jqXHR){
        if (data.status == "queued" || data.status == "working") {
            $.getJSON("<%= generate_status_api_report_path(@report.id) %>?job_id=" + data.job_id, addReport);
            displayNotice('Report <%= link_to @report.name, @report %> generation has been initiated.');
        }
    })
    .fail  (function(jqXHR, textStatus, errorThrown) {
        displayAlert("Generation of report file <a href='/report_files/" + report_file_id + "'>" + report_name + "<\/a> failed to be queued");
    })
    .always(function(jqXHROrData, textStatus, jqXHROrErrorThrown) {
    });


function addReport(data) {
    addPendingReport(data.job_id, data.report_file_id, "<%= @report.name %>", data.report_id);
}