<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('reports.reports') %>
  </div>
  <div class="panel-body">
    <%= render 'reports/reports', :reports => @reports %>
  </div>
</div>

<% if can? :create, Report %>
    <span class='actions'>
      <%= link_to t('general.new'), new_report_path, :id => 'new_report_link' %>
    </span>
<% end %>