<h1><%= @report.name %>
  <% if can? :generate, @report %>
      <span class='actions'>
          <%= link_to t('reports.generate'), '#', id: 'generate_report_link' %>
      </span>
  <% end %>
</h1>

<div id="generate_report_form" hidden="true">
  <h3><%= t('reports.generate_report') %>:</h3>
  <%= form_for :report_generation_information, :url => generate_report_url, remote: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email, :autofocus => true %> (<%= t('reports.send_via_email_after') %>)
      </div>

      <div class="actions">
        <%= f.submit t('reports.generate'), :id=> 'action_button' %>
      </div>
  <% end %>
  <br />
  <br />
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= t('reports.report') %> <%= t('general.attributes') %>
    </div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th><%= t('reports.title') %></th>
        <th><%= t('shared_reports.shared_with') %></th>
        <th><%= t('graphs_commands.graph_command') %></th>
        <th><%= t('graphs.types') %></th>
        <th><%= t('reports.graph_image_type') %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @report.report_title %></td>
        <td>
          <ul style="list-style: none outside none; padding: 2px;">
            <% @report.users.each do |user| %>
                <li><%= user_public_link user %></li>
            <% end %>
          </ul>
        </td>
        <td><%= @report.graph_command.name %></td>
        <td>
          <ul style="list-style: none outside none; padding: 2px;">
            <% GraphType.sort_by_display_order(@report.graph_types).each do |graph_type| %>
                <li><%= graph_type.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= @report.image_type ? @report.image_type.upcase : Report::IMAGE_TYPES[Report::IMAGE_TYPES[:default]][:name] %></td>
      </tbody>
    </table>
    <table class="table">
      <thead>
      <tr>
        <th><%= t('graph_sources.graph_source') %></th>
        <th><%= t('reports.groups') %></th>
        <th><%= t('reports.time_zone') %></th>
        <th><%= t('general.owner') %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @report.graph_source ? @report.graph_source.name : t('general.na')%></td>
        <td>
          <ul style="list-style: none outside none; padding: 2px;">
            <% report_groups(@report).each do |report_group| %>
                <li><%= report_group.html_safe %></li>
            <% end %>
          </ul>
        </td>
        <td><%= @report.time_zone %></td>
        <td><%= user_public_link @report.user %></td>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('report_files.report_files') %> <%= render 'layouts/spinner', :spinner_id => 'report_generator_spinner', :spinner_title => t('reports.are_being_generated') %>
  </div>
  <div class="panel-body">
    <%= render 'report_files/report_files', :report_files => @report.report_files %>
  </div>
</div>

<h3><%= t('reports.additional_report_attributes') %>
  <button type="button" class="btn btn-default btn-xs fa fa-angle-down" id="additional_report_attributes_toggle"></button>
</h3>
<div id="additional_report_attributes" hidden="hidden">
<% if @report.schedule_report_run %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('reports.report') %> <%= t('reports.schedules') %>
    </div>
    <div class="panel-body">
    <table class='table'>
      <thead>
      <tr>
        <th><%= t('reports.scheduled_for_auto_run') %></th>
        <th><%= t('reports.send_time') %></th>
        <th><%= t('reports.send_day') %></th>
        <th><%= t('reports.mailing_list') %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= bool_to_word(@report.schedule_report_run).capitalize %></td>
        <td><%= @report.send_time ? @report.send_time.strftime('%I:%M:%S %p') : t('general.na') %></td>
        <td><%= @report.send_day ? @report.send_day : t('general.na') %></td>
        <td>
          <ul style="list-style: none outside none; padding: 2px;">
            <% @report.mailing_list.each do |email| %>
                <li><%= email %></li>
            <% end %>
          </ul>
        </td>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('server_groups.server_groups') %>
  </div>
  <div class="panel-body">
    <%= render 'server_groups/server_groups', :server_groups => @report.server_groups.order(:name) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('servers.servers') %>
  </div>
  <div class="panel-body">
    <%= render 'servers/servers', :servers => @report.servers.order(:name) %>
  </div>
</div>
</div>

<br />
<br />
<% if @report.can_modify?(current_user) %>
    <%= edit_html(edit_report_path(@report), Report) %>
<% end %>
<%= link_to t('general.back'), reports_path %>