<head>
  <title>
    <%= report.report_title unless report.report_title.nil? && report.report_title.empty? %>
  </title>
  <%= wicked_pdf_stylesheet_link_tag    "application", :media => "all" %>
  <%= wicked_pdf_javascript_include_tag "application" %>
</head>
<body>
<div id="header">
  <% if !report.report_title.nil? && !report.report_title.empty? %>
      <h3 style="text-align: center"><%= report.report_title %></h3>
  <% end %>
</div>
<div id="content">
  <% report.servers_to_include.each do |server| %>
      <div style="page-break-after: always; width: 125%;">
        <h3><%= "#{server.name}" %></h3>
        <% added_graphs = Array.new %>
        <% graphs[server.name].each do |graph_path| %>
            <% next if added_graphs.include? graph_path %>
            <% next unless File.exist?(graph_path) %>
            <%= image_tag "#{graph_path}" %>

            <% added_graphs = graph_path %>
            <br />
            <br />
            <br />
        <% end %>
        <% if app_info && report.include_application_information? %>
            <div>
              <h3><%= t('reports.app_info.installed_applications') %></h3>
              <table border="1" id="<%= server.name %>_application_table" style="width: 125%;">
                <% next unless app_info[server.name] %>
                <thead>
                <tr>
                  <th><%= t('general.name') %></th>
                  <th><%= t('general.type') %></th>
                  <th><%= t('general.version') %></th>
                </tr>
                </thead>
                <tbody>
                <% app_info[server.name].each do |server_application| %>
                    <% next unless server_application['application']['name'] %>
                    <% next unless server_application['application']['major_application'] %>
                    <% unless report.show_all_applications?  %>
                        <% next if server_application['application_version']['application_version'].nil? || server_application['application_version']['application_version'].empty? %>
                    <% end %>
                    <tr>
                      <td><%= server_application['application']['name'] %></td>
                      <td><%= server_application['application']['app_type'] %></td>
                      <td><%= server_application['application_version']['application_version'] %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
</body>