<tr id="report_file_<%= report_file.id %>">
  <td><%= link_to report_file.file_file_name, "#{report_file.file.url}", :target => '_blank' %></td>
  <td><%= report_file.file_updated_at.nil? ? '' : report_file.file_updated_at.strftime(t('general.timestamp_to_str')) %></td>
  <td>
    <%= link_to t('report_files.send_email'), new_report_file_report_file_email_path(report_file) %>
    <%= link_to t('general.details'), report_file %>
  </td>
</tr>