<table class='table' id="report_files_table">
    <thead>
    <tr>
      <th><%= t('general.name') %></th>
      <th><%= t('report_files.generated_at') %></th>
      <th><%= t('general.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% report_files.each do |report_file| %>
        <% next if report_file.file.path.nil? %>
        <%= render report_file %>
    <% end %>
    </tbody>
</table>