<h1><%= link_to @report_file.report.name, @report_file.report %> - <%= @report_file.id %></h1>

<p>
  <b><%= t('report_files.report_pdf') %>:</b>
  <%= @report_file.file_file_name.nil? ? t('general.na') : link_to(@report_file.file_file_name, @report_file.file.url) %>
</p>

<p>
  <b><%= t('report_files.generated_at') %>:</b>
  <%= @report_file.file_updated_at.nil? ? '' : @report_file.file_updated_at.strftime(t('general.timestamp_to_str')) %>
</p>

<p>
  <b><%= t('report_file_email.send_via') %>:</b>
  <%= link_to t('report_file_email.email'), new_report_file_report_file_email_path(@report_file) %>
</p>

<%= link_to t('general.back'), report_path(@report_file.report) %>